<% if Starring.where(restaurant_id: @restaurant.id).exists?(user_id: current_user.id) %>
  <span id="starringSwitch">yes</span>
  <%=render "starrings/form_unfavorite" %>
<% else %>
  <span id="starringSwitch">no</span>
  <%=render "starrings/form_favorite" %>
<% end %>