<div>
	<div class="starringBox">
		<b>Favorite:</b><button id="star-five" onclick="FavoriteUpdate()" />
	</div>
</div>

<%= content_tag :div, class: "restaurantId", data: {temp: @restaurant.id} do %>
<% end %>

<%= content_tag :div, class: "userId", data: {temp: current_user.id} do %>
<% end %>

<script type="text/javascript">
	StarringUpdate();
</script>