<div class="starringBox switchNo">
<b>Favorite:</b>
<!--button type="button" id="star-five-yellow" onclick="SwitchFavoritePage();StarringUpdate();DeleteFavorites()"></button-->
   <% @starrings.each do |star| %>
        <%= button_to '', star, method: :delete, remote: :true, id:"star-five-yellow", onclick:"SwitchFavoritePage();StarringUpdate()" %>
    <% end %>
</div>
